.sidebar {
  min-height: 100vh;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f0f4f9;
  padding: 25px 15px;
  max-width: 12rem;
}

.sidebar img {
  height: 20px;
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar .new-chat {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 55dvh;
  scrollbar-width: none;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 20px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .recent-entry p {
  width: 280px;
  overflow: hidden;           
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

@media(max-width:500px){
  .sidebar{
    display: none;
  }
}

@media(max-width:686px){
  .sidebar{
    display: none;
  }
}