@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: outfit;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

#root{
    max-height: 100dvh;
    min-height: 100dvh;
    display: flex;
    overflow: hidden;
}